Load tests summary
=====================
Total Count    : ${totalCount}
Min Value (ms) : ${minValue}
Max Value (ms) : ${maxValue}
Mean Value (ms): ${meanValue}
50th Percentile: ${p50}
90th Percentile: ${p90}
99th Percentile: ${p99}
99.9th Percentile: ${p999}
=====================
