Load tests summary
=====================
Total requests: ${totalCount}
Total duration (sec): ${totalDurationSeconds}
Successful requests: ${successCount}
Requests per second: ${requestsPerSecond}
Failed requests: ${errorCount}
Error percentage: ${errorPercentage}%
Errors per second: ${errorRate}
Min Value (ms) : ${minValue}
Max Value (ms) : ${maxValue}
Mean Value (ms): ${meanValue}
50th Percentile: ${p50}
90th Percentile: ${p90}
99th Percentile: ${p99}
99.9th Percentile: ${p999}
=====================
